<!–– Release.X (C) Nuno Ferreira and contributors - Licensed under GNU GPLv3+ ––>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}">



{% block title %}
   <head>
      <title>Release.X</title>
   </head>
{% endblock %}

{% block content %}

<br>
<br>
<h1 style = "font-family:arial; color:#e95921; font-style: italic; text-decoration: underline;"> The Free and Open Source Portal</h1>

<div style=" background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 10px;
    width: auto;" id="toc_container">
<p style = "font-family:arial; color:#404040; font-weight:bold; font-size: 28px" class="toc_title">Categories</p>
<ul class="toc_list">
  <li><a style = "color:23510b; font-weight:bold;" href="#Audio_index">Audio</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Development_index">Development</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Games_index">Games</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Geography_index">Geography</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Graphics_index">Graphics</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Internet_index">Internet</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Office_index">Office</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Operating_system_index">Operating system</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Science_index">Science</a></li>
<li><a style = "color:23510b; font-weight:bold;" href="#Video_index">Video</a></li>
</ul>
</div>




<h2 id = "Audio_index" style = "font-family:arial; color:#3376a6;">Audio</h2>
{% if project_list_audio %}
    <ul>
    {% for project in project_list_audio %}
        <li><a href = "/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a> </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Development_index" style = "font-family:arial; color:#3376a6;">Development</h2>
{% if project_list_development %}
    <ul>
    {% for project in project_list_development %}
        <li><a href = "/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Games_index" style = "font-family:arial; color:#3376a6;">Games</h2>
{% if project_list_games %}
    <ul>
    {% for project in project_list_games %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Geography_index" style = "font-family:arial; color:#3376a6;">Geography</h2>
{% if project_list_geography %}
    <ul>
    {% for project in project_list_geography %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Graphics_index" style = "font-family:arial; color:#3376a6;">Graphics</h2>
{% if project_list_graphics %}
    <ul>
    {% for project in project_list_graphics %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Internet_index" style = "font-family:arial; color:#3376a6;">Internet</h2>
{% if project_list_internet %}
    <ul>
    {% for project in project_list_internet %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Office_index" style = "font-family:arial; color:#3376a6;">Office</h2>
{% if project_list_office %}
    <ul>
    {% for project in project_list_office %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}

<h2 id = "Operating_system_index" style = "font-family:arial; color:#3376a6;">Operating System</h2>
{% if project_list_operating_system %}
    <ul>
    {% for project in project_list_operating_system %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}


<h2 id = "Science_index" style = "font-family:arial; color:#3376a6;">Science</h2>
{% if project_list_science %}
    <ul>
    {% for project in project_list_science %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}


<h2 id = "Video_index" style = "font-family:arial; color:#3376a6;">Video</h2>
{% if project_list_video %}
    <ul>
    {% for project in project_list_video %}
        <li><a href="/projects/{{ project.id }}/">{{ project.name }}</a> <a style = "color:#e45028; font-weight: bold;"> {{ project.latest_version }} </a> <a style = "color:#1938af; font-weight: bold;"> {{ project.release_date|date:"d M Y"}} </a> <a style = "color:#8a8a8a; font-weight: bold;"> {{ project.description }} </a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No projects are available.</p>
{% endif %}


<br />

<br />

<br />

<br />

<br />

<br />

<br />

<br />

<br />

<p style = "font-family:arial; color:#404040; font-weight:bold; font-size: 12px" class="toc_title">This website does not use cookies or collect information on the user.</p>
<p style = "font-family:arial; color:#404040; font-weight:bold; font-size: 12px" class="toc_title">This page was generated on the {{ current_time }}.</p>
<p style = "font-family:arial; color:#404040; font-weight:bold; font-size: 12px" class="toc_title">(C) 2018 - Nuno Ferreira and contributors. Contribute! Raise issues at https://gitlab.com/CrazyBaboon/release.x</p>

{% endblock %}
